body {
  color: #333;
  margin: 0;
  padding: 0;
}

#page {
  max-width: 600px;
  width: 100%;
  margin: auto;
}

.round-image {
  display: inline-block;
}

.round-image img {
  display: block;
  border-radius: 50%;
  border: 1px solid orange;
}
