body {
  color: #fff;
  margin: 0;
  padding: 0;
}

#page {
  max-width: 600px;
  width: 100%;
  margin: auto;
  background-color: #fff5b6;
}

.search-box {
  padding: 10px 0;
  text-align: center;
}

.search-box input[type=text] {
  width: 140px;
  padding: 10px;
}

.search-results .entry {
  margin-bottom: 10px;
  padding: 10px;
  background: #666;
}

.entry.good-service {
  background-color: green;
}

.entry.special-service {
  background-color: orange;
}
.entry .bus-status, .entry .bus-number {
  width: 50%;
  display: inline-block;
}

.entry .bus-status-details {
  padding-top: 10px;
}
/*
.entry .bus-status-date {}
.entry .bus-status-reason {}
.entry .bus-status-category {}
*/

.bus-status-details span {
  font-size: 16px;
  margin-right: 10px;
}
